<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h2>{{ titulo }}
            <div *ngIf="loading" class="spinner-border" role="status" style="float: right;">
              <span class="visually-hidden">Loading...</span>
            </div>
          </h2>

          <span *ngIf="submitted && createPerro.invalid" class="badge-danger">Todos los campos son obligatorios</span>
          <form class="mt-4" [formGroup]="createPerro" (ngSubmit)="addEditPerro()">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="nombre">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Raza</mat-label>
                  <input matInput formControlName="raza">
                </mat-form-field>
              </div>
            </div>
            <div class="row">

              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Color</mat-label>
                  <input matInput formControlName="color">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <button type="text" class="btn btn-dark btn-lg" style="float: right;" routerLink="/list-perros">Volver
                </button>
              </div>

              <div class="col">

                <button type="submit" class="btn btn-success btn-lg" style="float: left;">
                  {{ btnAddUpd }}
                </button>
              </div>
            </div>


          </form>
        </div>
      </div>

    </div>
  </div>
</div>
