<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista de Perritos</span>
      <input type="text" style="width:40%; margin-top: 30px;"
             placeholder="Filtrar por fecha de nacimiento"
             [ranges]="ranges"
             [showCustomRangeLabel]="true"
             [alwaysShowCalendars]="true"
             [isInvalidDate]="isInvalidDate"
             [linkedCalendars]="true"
             ngxDaterangepickerMd [(ngModel)]="selected"
             class="form-control"/>
      <button class="btn btn-success btn" style="float:right" routerLink="/create-perro">Agregar</button>
      <button class="btn btn-info btn" style="float:left" (click)="getPerrosFecha()">Buscar</button>
      <button class="btn btn-danger btn" style="float:left;" (click)="getPerros()">Cancelar</button>
      <h5 *ngIf="perros.length == 0" style="margin-top: 30px">No hay datos para mostrar</h5>
      <table *ngIf="perros.length > 0" class="table mt-5  table-success table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Raza</th>
          <th>Color</th>
          <th>Fecha de Nacimiento</th>
          <th>Edad</th>
          <th>Última vacuna</th>
          <th>Próxima vacuna</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let perro of perros">
          <td>{{perro.nombre}}</td>
          <td>{{perro.raza}}</td>
          <td>{{perro.color}}</td>
          <td>{{perro.fechaNacimiento}}</td>
          <td>{{perro.edad}}</td>
          <td>{{perro.ultimaVacuna}}</td>
          <td>{{perro.proximaVacuna}}</td>
          <td><i class="fas fa-edit text-primary" [routerLink]="['/edit-perro/', perro.id]"></i></td>
          <td><i (click)="deletePerro(perro.id)" class="fas fa-trash text-danger"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
